html, body {
  margin: 0;
  padding: 0;
  /*width: 100%;*/
  height: 100%;
  overflow: hidden; /* Esto evita que aparezca una barra de desplazamiento vertical */
  font-family: 'Quicksand', sans-serif
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body img {
  height: 800px;
  width: auto;  
}

header {
  display: flex;
  align-items: center;
  /*justify-content: space-between;
  /*background-image: url(../images/background-header.png);*/
  background-size: 100% 100%; /* Ajusta la imagen para cubrir el 100% de la altura y el ancho del header */
  background-repeat: no-repeat;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 150px;
  width: auto;

}

.header-border-bottom {
  position: absolute;
  top: 220px;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, #ababab, #f41a5f);
  animation: animate-header-border-bottom 2s linear infinite;
}
@keyframes animate-header-border-bottom {
  100%{
    transform: translateX(-100%);
  }
  0%{ 
    transform :translateX(100%)}
}

/* Estilos del logo */
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
  max-width: 100%; /* La imagen se ajustará al tamaño de su contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
}
#news-list {
  max-height: 300px; /* Establece una altura máxima para el contenedor de noticias */
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}

#news-list li {
  font-size: 16px;
  margin-bottom: 10px;
}

#news-list li a {
  text-decoration: none;
  color: #333; /* Color del texto para los enlaces de noticias */
}

#news-list li a:hover {
  color: #f41a5f; /* Color del texto cuando se pasa el cursor por encima */
}

.nav {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /*background-color: #ababab;*/
}

.nav ul {
    list-style: none;
    display: flex; /* Esto hace que los elementos se muestren en línea horizontal */
    gap: 20px; /* Espacio entre elementos del menú */
}

main {
  flex: 1;
  padding-bottom: 50px; /* Ajusta el valor según tus necesidades */
}
 
main article {
  padding: 25px;
}

main .reproductor {
    border: 2px #000; /* Define el contorno de 2 píxeles de ancho y color negro */
    padding: 10px; /* Añade un espacio de 10 píxeles entre el contenido y el contorno */
    border-radius: 5px;
    border-style: groove;
    width:fit-content ;
}

main section {
  padding: 25px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*background-image: url(../images/background-footer.png);*/
  background-size: 100% 100%; /* Ajusta la imagen para cubrir el 100% de la altura y el ancho del header */
  background-repeat: no-repeat;
  color: #ababab; /* Cambia el color del texto según tus preferencias */
  padding: 10px; /* Espaciado interno del footer */
  position: absolute; /* Establece la posición absoluta */
  bottom: 0; /* Coloca el footer en la parte inferior */
  width: 100%; /* Ancho del footer al 100% del contenedor */
  height: 12%;
}

footer .logo-footer {
  display: flex;
  align-items: center;
}

footer .logo-footer img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}

footer .redes-sociales{
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

footer .redes-sociales img{
  height: 25px;
  padding: 15px;

}

footer .border-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #ababab, #f41a5f);
  animation: animate-border-top 2s linear infinite;
}
@keyframes animate-border-top {
  0%{
    transform: translateX(-150%);
  }
  100%{ 
    transform :translateX(100%)}
}

